<div class="jumbotron">
  <h1 class="display-3 text-center"> Your car rental service </h1>
  <hr class="my-4">
  <p class="text-center"> Login to access the private area</p>
  <div class="row my-3">
    <div class="col-6 mx-auto text-center">
      {{> spidchain-login }}
    </div>
  </div>
  <div class="row my-1">
    <div class="col-6 mx-auto text-center">
      {{> spidchain-signup }}
    </div>
  </div>
</div>
