{{#user}}
  <div class="jumbotron">
    <p class="lead text-center">Hello {{givenName}} {{familyName}}</p>
    {{#email}}
    <p class="lead text-center"> Email: {{email}} </p>
    {{/email}}
  </div>
{{/user}}
{{^user}}
  <div class="jumbotron">
    <p class="lead text-center">Login to access content</p>
  </div>
{{/user}}
