.btn-spidchain {
  background: #b5b5b5;
  border-radius: 3px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961; 
  transition: background 1s;
}
.btn-spidchain:link, .btn-facebook:visited {
  color: #fff;
}
.btn-spichain:active, .btn-spidchain:hover {
  background: #263961;
  color: #fff;
}

.txt-spidchain {
  color: #FFF;
}

.img-spidchain {
  height:20px;
}
